
<nav>
  <a routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="basic-form">Fundament form</a>
  <a routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="basic-valid">Validator form</a>
  <a routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="form-group">Form group</a>
  <a routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="form-subgroup">SubGroup</a>
  <a routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="material">Material</a>
  <a routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="form-array">Form Array</a>
  <a routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="template">Form Template</a>
</nav>

<router-outlet></router-outlet>

